;;;
;;; Minimal RDF & RDFS schema containing the axiomatic tuples.
;;;

#{
  [:rdfs/Class           :rdf/type           :rdfs/Class]
  [:rdfs/Resource        :rdf/type           :rdfs/Class]
  [:rdfs/Literal         :rdf/type           :rdfs/Class]
  [:rdfs/Property        :rdf/type           :rdfs/Class]
  [:rdfs/Datatype        :rdf/type           :rdfs/Class]
  [:rdfs/Datatype        :rdfs/subClassOf    :rdfs/Class]
  [:rdfs/Container       :rdf/type           :rdfs/Class]
  [:rdf/XMLLiteral       :rdf/type           :rdfs/Datatype]
  [:rdf/XMLLiteral       :rdfs/subClassOf    :rdfs/Literal]
  [:rdf/EDNLiteral       :rdf/type           :rdfs/Datatype]
  [:rdf/EDNLiteral       :rdfs/subClassOf    :rdfs/Literal]
  [:rdf/Seq              :rdf/type           :rdfs/Class]
  [:rdf/Seq              :rdfs/subClassOf    :rdfs/Container]
  [:rdf/Bag              :rdf/type           :rdfs/Class]
  [:rdf/Bag              :rdfs/subClassOf    :rdfs/Container]
  [:rdf/Alt              :rdf/type           :rdfs/Class]
  [:rdf/Alt              :rdfs/subClassOf    :rdfs/Container]
  [:rdf/Statement        :rdf/type           :rdfs/Class]
  [:rdf/List             :rdf/type           :rdfs/Class]
  [:rdf/type             :rdf/type           :rdf/Property]
  [:rdf/type             :rdfs/domain        :rdfs/Resource]
  [:rdf/type             :rdfs/range         :rdfs/Class]
  [:rdfs/domain          :rdf/type           :rdf/Property]
  [:rdfs/domain          :rdfs/domain        :rdfs/Resource]
  [:rdfs/domain          :rdfs/range         :rdfs/Class]
  [:rdfs/range           :rdf/type           :rdf/Property]
  [:rdfs/range           :rdfs/domain        :rdf/Property]
  [:rdfs/range           :rdfs/range         :rdfs/Class]
  [:rdfs/subPropertyOf   :rdf/type           :rdf/Property]
  [:rdfs/subPropertyOf   :rdfs/domain        :rdf/Property]
  [:rdfs/subPropertyOf   :rdfs/range         :rdf/Property]
  [:rdfs/subClassOf      :rdf/type           :rdf/Property]
  [:rdfs/subClassOf      :rdfs/domain        :rdfs/Class]
  [:rdfs/subClassOf      :rdfs/range         :rdfs/Class]
  [:rdf/subject          :rdf/type           :rdf/Property]
  [:rdf/subject          :rdfs/domain        :rdf/Statement]
  [:rdf/subject          :rdfs/range         :rdfs/Resource]
  [:rdf/predicate        :rdf/type           :rdf/Property]
  [:rdf/predicate        :rdfs/domain        :rdf/Statement]
  [:rdf/predicate        :rdfs/range         :rdfs/Resource]
  [:rdf/object           :rdf/type           :rdf/Property]
  [:rdf/object           :rdfs/domain        :rdf/Statement]
  [:rdf/object           :rdfs/range         :rdfs/Resource]
  [:rdfs/member          :rdf/type           :rdf/Property]
  [:rdfs/member          :rdfs/domain        :rdfs/Resource]
  [:rdfs/member          :rdfs/range         :rdfs/Resource]
  [:rdf/first            :rdf/type           :rdf/Property]
  [:rdf/first            :rdfs/domain        :rdf/List]
  [:rdf/first            :rdfs/range         :rdfs/Resource]
  [:rdf/rest             :rdf/type           :rdf/Property]
  [:rdf/rest             :rdfs/domain        :rdf/List]
  [:rdf/rest             :rdfs/range         :rdf/List]
  [:rdf/nil              :rdf/type           :rdf/List]
  [:rdf/value            :rdf/type           :rdf/Property]
  [:rdf/value            :rdfs/domain        :rdfs/Resource]
  [:rdf/value            :rdfs/range         :rdfs/Resource]
  [:rdfs/ContainerMembershipProperty :rdf/type        :rdfs/Class]
  [:rdfs/ContainerMembershipProperty :rdfs/subClassOf :rdf/Property]
  [:rdfs/seeAlso         :rdf/type           :rdf/Property]
  [:rdfs/seeAlso         :rdfs/domain        :rdfs/Resource]
  [:rdfs/seeAlso         :rdfs/range         :rdfs/Resource]
  [:rdfs/isDefinedBy     :rdf/type           :rdf/Property]
  [:rdfs/isDefinedBy     :rdfs/subPropertyOf :rdfs/seeAlso]
  [:rdfs/isDefinedBy     :rdfs/domain        :rdfs/Resource]
  [:rdfs/isDefinedBy     :rdfs/range         :rdfs/Resource]
  [:rdfs/comment         :rdf/type           :rdf/Property]
  [:rdfs/comment         :rdfs/domain        :rdfs/Resource]
  [:rdfs/comment         :rdfs/range         :rdfs/Literal]
  [:rdfs/label           :rdf/type           :rdf/Property]
  [:rdfs/label           :rdfs/domain        :rdfs/Resource]
  [:rdfs/label           :rdfs/range         :rdfs/Literal]
  }
  
